[Unit]
Description=rsnapshot_{{ postfix  }} monthly backup

[Timer]
# Run once per month at 3:30 UTC, after daily and weekly runs
OnCalendar=*-*-1 03:30:00
Unit=rsnapshot_{{ postfix  }}@monthly.service

[Install]
WantedBy=timers.target
