# {{ ansible_managed }}
# PLEASE BE AWARE OF THE FOLLOWING RULE:
# This file requires tabs between elements

config_version	{{ conf.rsnapshot_config_version|default(rsnapshot_config_version) }}
snapshot_root	{{ conf.rsnapshot_snapshot_root|default(rsnapshot_snapshot_root) }}
no_create_root	{{ conf.rsnapshot_no_create_root|default(rsnapshot_no_create_root) }}
cmd_cp		{{ conf.rsnapshot_cmd_cp|default(rsnapshot_cmd_cp) }}
cmd_rm		{{ conf.rsnapshot_cmd_rm|default(rsnapshot_cmd_rm) }}
cmd_rsync	{{ conf.rsnapshot_cmd_rsync|default(rsnapshot_cmd_rsync) }}
cmd_ssh		{{ conf.rsnapshot_cmd_ssh|default(rsnapshot_cmd_ssh) }}
cmd_logger	{{ conf.rsnapshot_cmd_logger|default(rsnapshot_cmd_logger) }}
#cmd_du		   	/usr/bin/du
#cmd_rsnapshot_diff	/usr/local/bin/rsnapshot-diff
#cmd_preexec		/path/to/preexec/script
#cmd_postexec		/path/to/postexec/script
#linux_lvm_cmd_lvcreate	/path/to/lvcreate
#linux_lvm_cmd_lvremove	/path/to/lvremove
#linux_lvm_cmd_mount	/sbin/mount
#linux_lvm_cmd_umount	/sbin/umount

{% if conf.rsnapshot_retain_hourly|default(rsnapshot_retain_hourly) != -1 %}
retain		hourly	{{ conf.rsnapshot_retain_hourly|default(rsnapshot_retain_hourly) }}
{% endif %}
{% if conf.rsnapshot_retain_daily|default(rsnapshot_retain_daily) != -1 %}
retain		daily	{{ conf.rsnapshot_retain_daily|default(rsnapshot_retain_daily) }}
{% endif %}
{% if conf.rsnapshot_retain_weekly|default(rsnapshot_retain_weekly) != -1 %}
retain		weekly	{{ conf.rsnapshot_retain_weekly|default(rsnapshot_retain_weekly) }}
{% endif %}
{% if conf.rsnapshot_retain_monthly|default(rsnapshot_retain_monthly) != -1 %}
retain		monthly	{{ conf.rsnapshot_retain_monthly|default(rsnapshot_retain_monthly) }}
{% endif %}

# GLOBAL OPTIONS
verbose		{{ conf.rsnapshot_verbose|default(rsnapshot_verbose) }}
loglevel	{{ conf.rsnapshot_loglevel|default(rsnapshot_loglevel) }}
{% if conf.rsnapshot_enable_log|default(rsnapshot_enable_log) %}
logfile		{{ conf.rsnapshot_logfile|default(rsnapshot_logfile) }}
{% endif %}
lockfile	{{ conf.rsnapshot_lockfile|default(rsnapshot_lockfile) }}
#rsync_short_args	-a
#rsync_long_args	--delete --numeric-ids --relative --delete-excluded
#ssh_args	-p 22
#ssh_args	-o BatchMode=yes
#du_args	-csh
#one_fs		0
#include	???
#include	???
#exclude	???
#exclude	???
#include_file	/path/to/include/file
#exclude_file	/path/to/exclude/file
link_dest	{{ conf.rsnapshot_link_dest|default(rsnapshot_link_dest) }}
#sync_first	   	0
#use_lazy_deletes	0
#rsync_numtries		0
#linux_lvm_snapshotsize	100M
#linux_lvm_snapshotname	rsnapshot
#linux_lvm_vgpath	/dev
#linux_lvm_mountpath	/path/to/mount/lvm/snapshot/during/backup

### BACKUP POINTS/SCRIPTS
{% for item  in conf.rsnapshot_backup_points|default(rsnapshot_backup_points) %}
backup	{{ item.dir }}	{{ item.host }}	{{ item.options|default('') }}
{% endfor %}

### EXCLUDE 
{% for item  in conf.rsnapshot_exclude|default(rsnapshot_exclude) %}
exclude	{{ item.regex }}
{% endfor %}

# EOF
