[Unit]
Description=rsnapshot (%I) backup
{% if conf.rsnapshot_systemd_onfailure|default(rsnapshot_systemd_onfailure) != -1 %}
OnFailure={{ conf.rsnapshot_systemd_onfailure|default(rsnapshot_systemd_onfailure) }}
{% endif %}

[Service]
Type=oneshot
{% if conf.rsnapshot_systemd_preexec|default(rsnapshot_systemd_preexec) != -1 %}
ExecStartPre={{ conf.rsnapshot_systemd_preexec|default(rsnapshot_systemd_preexec) }}
{% endif %}
{% if conf.rsnapshot_systemd_postexec|default(rsnapshot_systemd_postexec) != -1 %}
ExecStartPost={{ conf.rsnapshot_systemd_postexec|default(rsnapshot_systemd_postexec) }}
{% endif %}
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/bin/rsnapshot -c "/etc/rsnapshot_{{ postfix }}.conf" %I
