[Unit]
Description=rsnapshot_{{ postfix  }} daily backup

[Timer]
# 05:30 is the clock time when to start it
OnCalendar=05:30
Unit=rsnapshot_{{ postfix  }}@daily.service

[Install]
WantedBy=timers.target
